<section id="artists" class="div-section-wrapper">
  <div class="container">
    <div class="artists-section">
      <h2 class="artists-title">Artists</h2>
      <p class="artists-subtitle">Explore Your New Favorite Artists</p>
      <ul class="artists-list"></ul>
      <div class="artists-load-more-btn-wrapper">
        <div class="loader-and-btn-wrapper">
          <span class="loader visually-hidden"></span>
        </div>
        <button class="artists-load-more-btn">
          Load More
          <svg class="scroll-down-icon" width="24" height="24" fill="#ffffff">
            <use href="/img/artists.svg#icon-down-arrow-alt"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>