<section class="feedback-section" id="reviews">
  <h2 class="visually-hidden">Feedbacks our visitors</h2>
  <div class="container feedback-container">
    <div class="swiper feedback-swiper">
      <ul class="swiper-wrapper" id="feedback-container"></ul>

      <div class="swiper-button-prev">
        <svg class="arrow" width="14" height="14">
          <use href="/img/feedback-arrows.svg#icon-left-arrow"></use>
        </svg>
      </div>

      <div class="swiper-button-next">
        <svg class="arrow" width="14" height="14">
          <use href="/img/feedback-arrows.svg#icon-right-arrow"></use>
        </svg>
      </div>
      <div class="swiper-pagination custom-pagination"></div>
    </div>
    <button class="btn btn-txt" type="submit" id="open-feedback">
      Leave feedback
    </button>
  </div>
</section>
