<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <a href="index.html" class="logo">
        <svg class="" width="106" height="30">
          <use href="/img/footer.svg#icon-main-logo"></use>
        </svg>
      </a>

      <nav class="footer-nav">
        <ul>
          <li><a href="#artists">Artists</a></li>
          <li><a href="#about">About us</a></li>
          <li><a href="#reviews">Reviews</a></li>
        </ul>
      </nav>
    </div>

    <div class="footer-bottom">
      <p>© 2025 ArtistsHub. All rights reserved.</p>
      <div class="social-icons">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg fill="#fbfbfb" width="40" height="40">
            <use href="icons.svg#icon-instagram"></use>
          </svg>
        </a>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg fill="#fbfbfb" width="40" height="40">
            <use href="/img/footer.svg#icon-facebook"></use>
          </svg>
        </a>
        <a
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg fill="#fbfbfb" width="40" height="40">
            <use href="/img/footer.svg#icon-youtobe"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
