<div class="mobile-menu" data-menu>
  <div class="mobile-menu-container container">
    <div class="mobile-menu-header">
      <a href="index.html" class="mobile-menu-logo">
        <svg width="119" height="51" fill="#fbfbfb">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <button class="mobile-menu-close" type="button" data-menu-close>
        <svg width="24" height="24">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a href="#artists" class="mobile-menu-link" data-menu-link>Artists</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#about" class="mobile-menu-link" data-menu-link>About Us</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#reviews" class="mobile-menu-link" data-menu-link>Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
