.div-section-wrapper {
  padding: 64px 0;
}
.artists-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 16px;
}
.artists-subtitle {
  display: flex;
  width: 288px;
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 32px;
}

.artists-image {
  border-radius: 16px;
  width: 288px;
  height: 177px;
  object-fit: cover;
  margin-bottom: 24px;
}
.artists-genres-item {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 4px 10px;
  background: rgba(255, 255, 255, 0);

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.artists-genres-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 288px;
  margin-bottom: 16px;
}
.artists-name {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 8px;
}
.artists-information {
  width: 288px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 24px;
}
.artists-learn-more-card-btn {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 1.5px 0;

  background-color: #060307;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  gap: 8px;
}
.artists-list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  margin-bottom: 32px;
}

.caret-right-icon {
  fill: #fff;
}

.artists-load-more-btn {
  display: flex;
  border-radius: 12px;
  border: none;
  padding: 11px 24px;
  align-items: center;
  justify-content: center;
  gap: 12px;

  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #764191;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  position: relative;
}

.artists-load-more-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.artists-learn-more-card-btn {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 1.5px 0;
  transition: all 0.3s ease-in-out;
  color: #fff;
  fill: #fff;
  gap: 8px;
}

.artists-learn-more-card-btn:hover {
  color: #764191;
  fill: #764191;
}

@media screen and (min-width: 768px) {
  .artists-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 16px;
  }

  .artists-subtitle {
    display: flex;
    width: 704px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #ffffff;
    margin-bottom: 32px;
  }

  .artists-image {
    border-radius: 16px;
    width: 704px;
    height: 432px;
    object-fit: cover;
    margin-bottom: 24px;
  }
  .artists-genres-item {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    padding: 4px 10px;
    background: rgba(255, 255, 255, 0);

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    align-items: center;
    justify-content: center;
  }

  .artists-genres-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 704px;
    margin-bottom: 16px;
  }
  .artists-name {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 8px;
  }
  .artists-information {
    width: 704px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 24px;
  }
  .artists-learn-more-card-btn {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 1.5px 0;

    background-color: #060307;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    gap: 8px;
  }
  .artists-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 32px;
  }
  .artists-load-more-btn {
    display: flex;
    border-radius: 12px;
    border: none;
    padding: 11px 109px;
    align-items: center;
    justify-content: center;
    gap: 12px;

    box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05),
      inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15),
      inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
      inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background-color: #764191;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
    position: relative;
  }
  .artists-load-more-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .div-section-wrapper {
    padding: 112px 0;
  }
  .artists-subtitle {
    display: flex;
    width: 523px;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #ffffff;
    margin-bottom: 80px;
  }

  .artists-card-item {
    width: 640px;
  }
  .artists-image {
    border-radius: 16px;
    width: 640px;
    height: 393px;
  }

  .artists-information {
    width: 640px;
  }

  .artists-list {
    margin-bottom: 64px;
  }

  .artists-load-more-btn {
    padding: 10px 24px;
    /* margin-top: 64px; */
  }
  .artists-load-more-btn-wrapper {
    align-items: center;
    justify-content: center;
  }
}

.loader-and-btn-wrapper {
  position: relative;
  display: flex;
}

.loader {
  border: 2px solid;
  border-color: transparent #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 38%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  z-index: 2;
  pointer-events: none;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 24px solid;
  border-color: transparent rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .div-section-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
