/* Base styles for the application */
html,
body {
  overflow-x: hidden; /* Запобігає горизонтальному скролу, якщо він не потрібен */
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  color: #fbfbfb;
  background-color: #060307;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


