.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;

  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 64px;
    
  }
}
