.modal-feedback-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  background-color: rgba(112, 112, 112, 0.8);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
  transition-delay: 200ms;

  z-index: 999;
}

.modal-feedback-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transition-delay: 0ms;
}

.modal-feedback-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  padding: 64px 16px;
  min-width: 320px;
  max-width: 704px;
  height: 95vh;
  margin: 0 auto;
  background-color: #060307;

  opacity: 1;
  scale: 1;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, scale;
}

.data-wrapper {
  opacity: 1;
  /* transform: scale(1); */

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, transform;
}

.data-wrapper.submited {
  opacity: 0;
  transform: scale(0.5, 0);
}

.modal-feedback-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  color: #fff;
}

.modal-close-icon {
  width: 14px;
  height: 14px;
}

.modal-feedback-heading,
.success,
.fail {
  text-align: center;
  font-family: 'Epilogue', sans-serif;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #fff;
}

.success,
.fail {
  font-weight: 600;
  font-size: 22px;
  margin-top: 80px;
  display: block;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.success.is-onscreen,
.fail.is-onscreen {
  opacity: 1;
}

.modal-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.modal-feedback-label {
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 8px;
}

.modal-feedback-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 12px;
  padding: 8px 12px;
  width: 288px;
  color: #fff;
}

.modal-feedback-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.name-input {
  height: 43px;
}

.message-input {
  resize: vertical;
}

.stars-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.modal-feedback-stars {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

label:hover .modal-feedback-stars {
  color: #764191;
}

.star-radio:checked + label .modal-feedback-stars {
  color: #764191;
}

.modal-feedback-stars.filled {
  color: #764191;
}

.modal-feedback-stars.hovered {
  color: #764191;
}

.modal-feedback-submit {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  border-radius: 12px;
  border: none;
  padding: 10px 24px;
  width: 288px;
  height: 47px;
  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #764191;
  scale: 1;
  opacity: 1;

  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #fff;

  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, width, height, border-radius;
  transition-delay: 700; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    width 400ms cubic-bezier(0.4, 0, 0.2, 1) 700ms,
    height 400ms cubic-bezier(0.4, 0, 0.2, 1) 700ms,
    border-radius 400ms cubic-bezier(0.4, 0, 0.2, 1) 700ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms,
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1) 1050ms,
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 1050ms;
}

.modal-feedback-submit:active {
  background-color: #603177;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 -2px 1px rgba(0, 0, 0, 0.3),
    inset 0 2px 1px rgba(255, 255, 255, 0.2);
  outline: none;
  transform: translateY(-1px);
}

.modal-feedback-submit.submited {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  color: transparent;
  scale: 0;
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .modal-feedback-wrapper {
    width: 704px;
    padding: 64px 32px;
    height: 688px;
  }

  .modal-feedback-heading,
  .success,
  .fail {
    font-size: 44px;
    line-height: 120%;
    margin-bottom: 48px;
  }

  .success,
  .fail {
    margin-bottom: 0;
  }

  .modal-input-wrapper {
    margin-bottom: 24px;
  }

  .modal-feedback-input {
    width: 100%;
  }

  .message-input {
    height: 180px;
  }

  .modal-feedback-submit {
    margin: 0 auto;
    margin-top: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .modal-feedback-wrapper {
    width: 864px;
    padding: 64px;
  }

  .modal-feedback-heading,
  .success,
  .fail {
    font-size: 60px;
  }

  /* .modal-feedback-input {
    width: 736px;
  } */

  .modal-feedback-submit {
    width: 108px;
  }

  .modal-feedback-submit:hover,
  .modal-feedback-submit:focus {
    background-color: #603177;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
      inset 0 -2px 1px rgba(0, 0, 0, 0.3),
      inset 0 2px 1px rgba(255, 255, 255, 0.2);
    outline: none;
    transform: translateY(-1px);
  }
}

.slide-out-elliptic-bottom-bck {
  -webkit-animation: slide-out-elliptic-bottom-bck 0.7s ease-in both;
  animation: slide-out-elliptic-bottom-bck 0.7s ease-in both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-6-11 11:23:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-elliptic-bottom-bck
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-elliptic-bottom-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -400px;
    transform-origin: 50% -400px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px) rotateX(30deg) scale(0);
    transform: translateY(100px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes slide-out-elliptic-bottom-bck {
  0% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -400px;
    transform-origin: 50% -400px;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px) rotateX(30deg) scale(0);
    transform: translateY(100px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

.smiley {
  margin-top: 250px;
  display: block;
  background: linear-gradient(
    135deg,
    rgb(239, 116, 158) 0%,
    rgb(239, 205, 225) 100%
  );
  border-radius: 100%;
  padding: 25px;
  position: relative;
  width: 150px;
  height: 150px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(calc(-50% - 121px));
  box-shadow: rgba(121, 75, 121, 50%) 0px 10px 20px 1px,
    rgb(165, 145, 164) 0px 5px 5px 1px;

  opacity: 0;
  scale: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.smiley.is-onscreen {
  opacity: 1;
  scale: 1;
}

.mouth {
  width: 60%;
  height: 30%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-sizing: border-box;
  position: absolute;
  bottom: 18%;
  left: 50%;
  margin-left: -30%;
  background: #4e32824f;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.eyes {
  width: 100%;
  margin-top: 15%;
  box-sizing: border-box;
  padding: 0 5px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.eyes .eye {
  width: 20px;
  height: 20px;
  background: #4e32824f;
  float: left;
  border-radius: 100%;
  position: relative;
}

.eyes .eye:nth-of-type(2) {
  float: right;
}

.eyes .eye::after {
  content: '';
  display: block;
  position: absolute;
  width: 0%;
  height: 0%;
  background: #9a5e9c;
  transform: rotate(0deg);
  top: -15px;
  left: 5px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.eyes .eye:first-of-type::after {
  transform: rotate(0deg);
  left: auto;
  right: 5px;
}

.smiley.normal .mouth,
#normal[type='radio']:checked ~ .smiley .mouth {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 10%;
  width: 40%;
  bottom: 25%;
  margin-left: -20%;
}

.smiley.normal .eyes,
#normal[type='radio']:checked ~ .smiley .eyes {
  margin-top: 30%;
}

.smiley.happy .mouth,
#happy[type='radio']:checked ~ .smiley .mouth {
  animation: move-mouth-down 6s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes move-mouth-down {
  0% {
    bottom: 18%;
  }

  4.55% {
    bottom: 16%;
  }

  8.45% {
    bottom: 16%;
  }

  13% {
    bottom: 18%;
  }
  100% {
    bottom: 18%;
  }
}

.smiley.happy .eyes,
#happy[type='radio']:checked ~ .smiley .eyes {
  animation: move-eyes-down 6s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes move-eyes-down {
  0% {
    margin-top: 15%;
  }

  4.55% {
    margin-top: 19%;
  }

  8.45% {
    margin-top: 19%;
  }

  13% {
    margin-top: 15%;
  }

  100% {
    margin-top: 15%;
  }
}

.smiley.happy .eye:nth-of-type(2),
#happy[type='radio']:checked ~ .smiley .eye:nth-of-type(2) {
  height: 20px;
  margin-top: 0;
  animation: wink 6s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes wink {
  0% {
    height: 20px;
    margin-top: 0;
  }

  3.9% {
    height: 3px;
    margin-top: 8px;
  }

  9.1% {
    height: 3px;
    margin-top: 8px;
  }

  13% {
    height: 20px;
    margin-top: 0;
  }

  100% {
    height: 20px;
    margin-top: 0;
  }
}

.smiley.normal .eye,
#normal[type='radio']:checked ~ .smiley .eye {
  height: 20px;
  margin-top: 0;
  animation: blink 6s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    height: 20px;
    margin-top: 0;
  }

  3.25% {
    height: 2px;
    margin-top: 8px;
  }

  6.5% {
    height: 20px;
    margin-top: 0;
  }

  9.75% {
    height: 2px;
    margin-top: 8px;
  }

  13% {
    height: 20px;
    margin-top: 0;
  }
  100% {
    height: 20px;
    margin-top: 0;
  }
}

.input-error {
  border-color: #af0404;
  color: #af0404;
}
.input-error::placeholder {
  color: #af0404;
}

.input-wrapper {
  position: relative;
}

.input-text-error {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 12px;
  line-height: 150%;
  color: #af0404;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-error.is-onscreen,
.message-error.is-onscreen,
.rating-error.is-onscreen {
  opacity: 1;
}
