.footer {
  padding: 48px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-container::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 24px;
  margin-top: -24px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #a472ec;
  font-weight: bold;
  font-size: 20px;
}

.footer-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;

}

.footer-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}

.footer-nav ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 32px;
}

.social-icons img {
  width: 24px;
  height: 24px;
  filter: invert(100%);
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 80px 0;
  }

  .footer-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer-nav {
    flex-direction: row;
    margin-bottom: 80px;
  }

  .footer-container::after {
    margin-bottom: 32px;
    margin-top: -32px;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .social-icons {
    margin-bottom: 0;
  }

  .footer-nav ul {
    flex-direction: row;
    gap: 32px;
    justify-content: center;
  }

  .social-icons a[href*='instagram'] svg {
    width: 24px;
    height: 24px;
  }
  .social-icons a[href*='facebook'] svg {
    width: 26px;
    height: 26px;
  }
  .social-icons a[href*='youtube'] svg {
    width: 26px;
    height: 18px;
  }
}

@media (min-width: 1440px) {
  .social-icons a[href*='instagram'] svg {
    width: 18px;
    height: 18px;
  }
  .social-icons a[href*='facebook'] svg {
    width: 20px;
    height: 20px;
  }
  .social-icons a[href*='youtube'] svg {
    width: 20px;
    height: 14px;
  }
}
